.offer {
    background-color: #f8f8f8;
}

.offer__container {
    padding-top: 100px;
    padding-bottom: 100px;
}

.offer__list {
    display: flex;
    padding: 0;
    margin: 0;
    justify-content: space-between;
}

.offer__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 25px 23px 30px 24px;
    border: 1px solid #76a713;
    background-color: transparent;
}

.eggpent__item {
    padding-top: 9px;
}

.tomat__item {
    padding-top: 28px;
}

.offer__item--active {
    padding: 23px 23px 30px 24px;
    background-color: #ffffff;
    border: 1px solid #dddddd;
}

.offer__heading {
    margin: 0;
    margin-bottom: 13px;
    font-family: 'Oswald';
    font-weight: 500;
    font-size: 30px;
    line-height: 44px;
    color: #000000;
}

.offer__heading--active {
    color: #76a713;
}

.offer__text {
    max-width: 223px;
    margin: 0;
    margin-bottom: 27px;
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    color: #888888;
}

.main__link {
    display: inline-block;
    padding: 9px 16px 10px 17px;
    margin: 0;
    font-family: 'Gilroy';
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    border: 1px solid transparent;
    background-color: #76a713;
    color: #ffffff;
    text-transform: uppercase;
    text-decoration: none;
    transition: all 360ms ease;
}

.main__link:hover {
    background-color: #ffffff;
    border: 1px solid #76a713;
    color: #76a713;
}

.main__link:active {
    background-color: rgba(118, 167, 19, 0.5);
}

.offer__img {
    order: -1;
}

.offer__img--active {
    margin-bottom: 3px;
}

.fruit__img {
    margin-bottom: 13px;
}

.tomat__img {
    margin-bottom: 18px;
}

.offer__btn {
    display: block;
    width: 40px;
    height: 40px;
    background-image: url('./../img/arrows.svg');
    background-repeat: no-repeat;
    background-size: auto;
    background-position: center;
    border: 1px solid #76a713;
    cursor: pointer;
    transition: all 180ms linear;
}

.offer__btn:hover {
    transform: scale(1.2);
    background-color: rgba(118, 167, 19, 0.3);
}

.offer__btn:active {
    background-color: #ffffff;
    border-color: #0000ff;
}